.container{
    background-image: url(images/img1.png);
    background-repeat: no-repeat;
}
.shape{
    padding: 29px 153px;
    height: 861px;
}
.header{
    /* position: absolute; */
width: 801px;
height: 56px;
left: -213px;
top: 4734px;

/* Header / 2 */

font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 64px;
line-height: 52px;
/* or 130% */

display: flex;
align-items: center;
text-align: center;

/* Neutrals/N0 */

color: white;
margin: -783px 43px;
}
.primary{
    position: absolute;
width: 327px;
height: 102px;
left: 24px;
top: 222px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 28px;
/* or 140% */

text-align: center;

/* Primary/B50 */

color: #EBEBFF;

}
.username{
    position: absolute;
left: 0px;
/* width: 100px; */
top: 0px;


/* Mono/White */

background: #FFFFFF;
/* Base/100 */


margin: 373px 88px;
}
.text{
    position: absolute;
height: 18px;
left: 16px;
/* right: 38px; */
top: calc(50% - 18px/2);

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 25px;
line-height: 20px;
/* or 118% */

display: flex;
align-items: center;

/* Neutral/N800 */

color: #172B4D;

}
.usernamecontainer{
    position: absolute;
left: -73px;
/* right: 0px; */
top: 0px;
bottom: 0px;
border: 1px solid rgb(57, 109, 242);
/* Mono/White */

background: #FFFFFF;
/* Base/100 */
border-radius: 16px;
/* border: 1px solid #CFD8DC;
border-radius: 8px; */
}
.email{
    
height: 18px;
left: 163px;
right: 38px;
top: calc(50% - 18px/2);

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 25px;
line-height: 20px;
/* or 118% */

display: flex;
align-items: center;

/* Neutral/N800 */

color: #172B4D;
margin: 10px 88px;
}
.emailcontainer{
    position: absolute;
height: 18px;
left: -66px;
right: 38px;
top: 408px;
width: 10px;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 20px;
/* or 118% */

display: flex;
align-items: center;
color: #172B4D;
padding: 10px 10px;
}
.msg{
    
left: 0px;
right: 0px;
top: 0px;
bottom: 0px;

/* Mono/White */

background: #FFFFFF;
/* Base/100 */

border: 1px solid #CFD8DC;
border-radius: 16px;
}
.message{
    position: absolute;
left: 28px;

top: 456px;
bottom: 343px;

/* Input /Normal */

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 24px;
/* or 160% */


/* Neutrals/N60 */

color: #B3BAC5;

}
.get{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 11px 10px;
    position: absolute;
    width: 116px;
    height: 29px;
    left: 32px;
    top: 604px;
    background: #FFFFFF;
    border-radius: 16px;
}
.get:hover {
    background-color: #134eb9;
  }
.touch{
    position: static;
width: 108px;
height: 24px;
left: 16px;
top: 12px;

/* Button /Normal */

font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 17px;
line-height: 24px;
/* identical to box height, or 141% */

display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.03em;

/* Primary/B400 */

color: #6070FF;

flex: none;
order: 0;
flex-grow: 0;
margin: 0px 12px
}
.mono {
    position: absolute;
    background-repeat: no-repeat;
    width: 134px;
    height: 12px;
    left: calc(50% - 134px/2 - 0.5px);
    bottom: 11px;
    background: #0D151E;
    border-radius: 10px;
    margin: 127px -720px;
}